.pagginationList {
    display: flex;
    width: 50vw;
    overflow-x: scroll;
    margin: auto;
}

.pagginationList button {
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: all .3s ease;
}

.pagginationList button:hover {
    color: rgba(0, 0, 0, 1);
    transition: all .3s ease;
}

li.active button {
    border-bottom: 2px solid #000;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}