.header {
    grid-area: h;
    background-image: linear-gradient(to right, #e5e6e6, #fff);
    display: flex;
}

.appLogo img {
    width: 220px;
}

.headerAuthWrap {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: auto;
}