.appBody {
    background: #fff;
    width: 100%;
    min-height: 100vh;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    min-height: 100vh;
    margin: 0 auto;
}

.appWrapperContent {
    grid-area: c;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}
