* {
    box-sizing: border-box;
}

.appBody {
    background: url("");
    width: 100%;
    min-height: 100vh;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c" "f f";
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 2fr 10fr;
    min-height: 100vh;
    margin: 0 auto;
}

.appWrapperContent {
    grid-area: c;
    background: #fff;
    padding: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar{width:9px;background-color:#fff}
::-webkit-scrollbar-thumb{border-radius:10px;background-color:#2d2d2d}
::-webkit-scrollbar-track{border-radius:10px;background-color:#fff}